div#chat-container
	div.header
		h3.title 聊天
		input.form-control(type="hidden" name="talk_people_id")
		div.btn-group#talk-people
			button.btn.btn-primary(type='button')= (user.role == 2? "选择病人": "选择医生")
			button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
				span.caret
				span.sr-only 选择对象
			ul.dropdown-menu
	div.content
		div.content-list
	div.control
		form(action="")
			textarea.form-control(name="message")
			button.btn.btn-success.btn-block(type="submit") 发送
	div.nav
		i.iconfont &#xe60a;
	

