
nav(class="navbar navbar-inverse navbar-fixed-top")
    div(class="container-fluid")
        div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#") 无线实时医疗监护系统
        div#navbar(class="navbar-collapse collapse")
            if user
                ul(class="nav navbar-nav navbar-right")
                    li
                        a(href="/perinfo") 个人信息
                    li
                        a(href="/") 返回首页

                    li
                        a(href="/logout") 退出登录