doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title 实时监护系统
		link(rel="stylesheet" href="/css/libs/bootstrap/bootstrap.min.css")
		link(rel="stylesheet" href="/css/common.min.css")

		style.
			img{
				max-width: 100%;
			}
			@media (max-width: 768px){
				.carousel-indicators{
					margin-bottom: 0;
					bottom: 0px;
				}
			}
		<!--[if IE 9]>
		script(src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js")
		script(src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js")
		<![endif]-->
		block exclusiveStyle
		if isLogin && (user.role == 2 || user.role == 3)
			link(rel="stylesheet" href="/css/chat.min.css")
		if isLogin && user.role == 2
			include includes/doctor_common_css.jade
	body
		include includes/header
		
		div.container-fluid
			div.row
				if isLogin
					include includes/sidebar
					div(class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
						block content
				else 
					div(class="col-sm-12 main")
						block content

		if (isLogin && (user.role == 2 || user.role == 3))
			include includes/chat
		
		if (isLogin && user.role == 2)
			section.message_box
				div.header 病人紧急事件报警监控
				div.content
					table.table(style="margin-bottom: 0")
						thead
							tr
								th 事件
								th 姓名
								//- th 次数
								th 时间
						tbody
				div.footer
					| 当前共
					span#eventAmount 0
					| 条未查看的事件 
					span(class="glyphicon glyphicon-envelope" aria-hidden="true" style="color:#f0ad4e")
					a(href="javascript:;" class="reflash_event") 刷新	
					a(href="/event_list") 查看全部事件
		if isLogin
			input(type="hidden" name="user-id" id="user-id" value="#{user._id}")
			input(type="hidden" name="user-role" id="user-role" value="#{user.role}")
		script(src="/js/libs/jquery-2.1.4.min.js")
		script(src="/js/libs/bootstrap/bootstrap.min.js")
		
		script(src="/js/libs/moment.min.js")
		


		script.
			var USERID = $("#user-id").val();
			var USERROLE = $("#user-role").val();
			setTimeout(function(){
				$("body").addClass("active")
			}, 30)

			
		block exclusiveScript

		if (isLogin && (user.role == 2 || user.role == 3))
			script(src="/js/chat-client.js")
		if (isLogin && user.role == 2)
			include includes/doctor_common_js.jade