.message_box{
	position: fixed;
	right: 0;
	bottom: 0;
	/*width: 30%;*/
	max-width: 570px;
	border: 1px solid #aaa;
	border-radius: 5px 5px 0 0;
	background-color: #fff;
	overflow: hidden;
	z-index: 100;
	-webkit-transition: .4s all;
	-o-transition: .4s all;
	transition: .4s all;
	max-height: 300px;
}
.message_box .header{
	background-color: #d9534f;
	color: #fff;
	padding: 8px;
	cursor: pointer;
}

.message_box.down{
	max-height: 36px;
}

.message_box .footer{
	margin-top: -8px;
	padding: 5px 8px;
	text-align: left;
}
.message_box .footer a{
	margin-right: 10px;
	float: right;
}


