extends ../layout

block exclusiveStyle
	style.
		#thermometer{
			display: block;
			width: 130px;
			margin: 0 auto 15px;;
		}
		#temp-val{
			width: 100%;
			text-align:center;
		}
		.detection .title{
			text-align: center;
		}
block content
	h3.page-header 您所在的路径：信息系统 / 监测中心
	div.detection.container-fluid
		div.row
			div.col-sm-2
				h3.title 体温
				canvas#thermometer(width='200'  height='900')
				div(style='position: absolute; top: 200px; left: 250px;')
				form#drawTemp(action="")
					input#temp-val(type='text'  name='temp' value='37'  maxlength='3')
					input#temp-range(type='range'  min='13'  max='50' step="0.1" value="37"  onchange='setTempAndDraw();')
					input(type='submit'  value='产生事件', onclick='draw();')

block exclusiveScript
	script(src="/js/thermometer.js")
	script.
		$(function(){
			window.onload = function(){
				draw();
			}

			var tempVal = $("#temp-val");
			tempVal.change(function(event){
				var cVal = $(this).val();

			})

			$("#drawTemp").submit(function(event){
				event.preventDefault();
				var eventObj = null;
				var cTemp = parseFloat(tempVal.val());
				
				if(cTemp > 37.5 || cTemp < 36.5){
					eventObj = {
						name: "体温值为：" + cTemp + "℃",
						content: "该病人体温超出正常范围，目前体温为"+ cTemp +"℃",
						level: tempLevel(cTemp),
						user_id: USERID
					}
					$.post("/create_event", eventObj, function(data){
						if(data.status === "success"){
							console.log("产生时间成功")
						}
					})
				}else{
					alert("体温正常");
				}
			})

			function tempLevel(val){
				var level = 0;
				val = parseFloat(val);
				if(val < 34 || val > 40) level = 1;
				else if(val < 35 || val > 39) level = 2;
				else if(val < 36 || val > 38) level = 3;
				else if(val <= 36.5 || val >= 37.5) level = 4;
				
				return level
			}
		})
		
