extends ../layout

block exclusiveStyle
	style.
		#thermometer{
			display: block;
			width: 130px;
			margin: 0 auto 15px;;
		}
		#temp-val{
			width: 100%;
			text-align:center;
		}
		.detection .title{
			text-align: center;
		}
		#temp-linechart{
			width: 600px;
			height: 500px;
		}
block content
	h3.page-header 您所在的路径：信息系统 / 监测中心
	div.detection.container-fluid
		div.row
			div.col-sm-2
				h3.title 体温
				canvas#thermometer(width='200'  height='900')
				div(style='position: absolute; top: 200px; left: 250px;')
				form#drawTemp(action="")
					input#temp-val(type='text'  name='temp' value='37'  maxlength='3')
					input#temp-range(type='range'  min='13'  max='50' step="0.1" value="37"  onchange='setTempAndDraw();')
					input(type='submit'  value='产生事件', onclick='draw();')
			div.col-sm-10
				div#temp-linechart

block exclusiveScript
	script(src="/js/thermometer.min.js")
	script(src="/js/libs/echarts.common.min.js")
	script(src="/js/detection.min.js")
		
		
