extends ../layout

block exclusiveStyle
	//- link(rel="stylesheet" href="css/mess")
	style.
		#ecg_area{
			position: relative;
		}
		#ecg_area>canvas{
			position: absolute;
			left: 0;
			top: 0;
		}
		#ecg_bg { 
			background-color: #000;
			background:#131; background-image: radial-gradient(#242, #121);  
		}

		@media print {
			#save_ecg, .sidebar{
				display:none;
			}
		}
		

block content
	h3.page-header 您所在的路径：信息系统 / 心电图
	button(type="button" class="btn btn-default" id="save_ecg") 打印心电图
	button(type="button" class="btn btn-default" id="save_img") 保存为图片
	div#ecg_area
		canvas#ecg_bg(width="900", height="400")
		canvas#ecg(width="900", height="400")
	<audio id="audio1" src="audio/beep.mp3" preload="auto"></audio>	
	
	
	div(class="modal fade" id="diagnose_dialog")
		div(class="modal-dialog modal-lg")
			div.modal-content
				div.modal-header
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title 查看诊断信息
				div.modal-body
					div.row
						div.col-sm-6
							p.patient_name 
						div.col-sm-6
							p.diagnose_doctor
					div.row
						div.col-sm-12
							h4 诊断内容：
							p.diagnose_content(style="text-indent:2em")

				div.modal-footer
					button(type="button" class="btn btn-default") 关闭
				

block exclusiveScript
	script(src="js/ecg.js")
	script.
		var ecg = $("#ecg");
		$("#save_ecg").click(function(){
			window.print()
		})
		
		$("#save_img").click(function(){
			//- var imgData = ecg.toDataURL();
			var canvas = document.getElementById("ecg")
			var w=window.open(canvas.toDataURL("image/jpeg"),"smallwin","width=400,height=350");


		})
		
